input {
    keyboard {
        xkb {
            options "caps:escape"
        }

        numlock
    }

    touchpad {
        tap
        // scroll-factor 0.1
        dwt
    }

}
xwayland-satellite {
  off
}

output "eDP-1" {
    scale 2
    transform "normal"
}

layout {
    gaps 0
    
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }

    border {
        width 2
    }

}

workspace "1" {
    layout {
        default-column-width { proportion 1.0; }
        border {
            off
        }
    }
}

spawn-at-startup "noctalia"
spawn-at-startup "sh" "-c" "cd \"$HOME/Downloads\" && nohup monosend receive --autoaccept >/dev/null 2>&1 &"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
animations {
    off
}

binds {
    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn-sh "if tmux display-message -p -t code '#{session_attached}' 2>/dev/null | grep -q '^[1-9]'; then foot; else foot tmux new-session -A -s code; fi"; }

    // Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Run Chromium" { spawn "google-chrome"; }
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    // Mod+I { spawn-sh "$HOME/.config/niri/status-osd.sh"; }
    Mod+I { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Shift+P {spawn-sh "noctalia msg panel-toggle session";}
    Mod+P { spawn "hyprpicker" "-a"; }
    Alt+P { spawn-sh "noctalia msg screenshot-region"; }
    // Mod+P {
    //     spawn "sh" "-c" "grim -g \"$(slurp)\" - | tee ~/Pictures/$(date +'%Y-%m-%d_%H-%M-%S').png | wl-copy"
    // }
    // Audio & Brightness
    // xf86audioraisevolume { spawn-sh "$home/.config/niri/volume-osd.sh up"; }
    // xf86audiolowervolume { spawn-sh "$home/.config/niri/volume-osd.sh down"; }
    // xf86audiomute { spawn-sh "$home/.config/niri/volume-osd.sh mute"; }
    // xf86monbrightnessup { spawn-sh "$home/.config/niri/brightness-osd.sh up"; }
    // xf86monbrightnessdown { spawn-sh "$home/.config/niri/brightness-osd.sh down"; }

    xf86audioraisevolume { spawn-sh "noctalia msg volume-up"; }
    xf86audiolowervolume { spawn-sh "noctalia msg volume-down"; }
    xf86audiomute { spawn-sh "noctalia msg volume-mute"; }
    xf86monbrightnessup { spawn-sh "noctalia msg brightness-up"; }
    xf86monbrightnessdown { spawn-sh "noctalia msg brightness-down"; }

    mod+q repeat=false { close-window; }

    mod+j     { focus-column-right-or-first; }
    mod+k     { focus-column-left-or-last; }
    alt+shift+left  { focus-monitor-left; }
    alt+shift+down  { focus-monitor-down; }
    alt+shift+up    { focus-monitor-up; }
    alt+shift+right { focus-monitor-right; }
    alt+shift+h     { focus-monitor-left; }
    alt+shift+j     { focus-monitor-down; }
    alt+shift+k     { focus-monitor-up; }
    alt+shift+l     { focus-monitor-right; }
    alt+1 { focus-workspace 1; }
    alt+2 { focus-workspace 2; }
    alt+3 { focus-workspace 3; }
    alt+4 { focus-workspace 4; }
    alt+5 { focus-workspace 5; }
    alt+6 { focus-workspace 6; }
    alt+7 { focus-workspace 7; }
    alt+8 { focus-workspace 8; }
    alt+9 { focus-workspace 9; }
    alt+ctrl+1 { move-column-to-workspace 1; }
    alt+ctrl+2 { move-column-to-workspace 2; }
    alt+ctrl+3 { move-column-to-workspace 3; }
    alt+ctrl+4 { move-column-to-workspace 4; }
    alt+ctrl+5 { move-column-to-workspace 5; }
    alt+ctrl+6 { move-column-to-workspace 6; }
    alt+ctrl+7 { move-column-to-workspace 7; }
    alt+ctrl+8 { move-column-to-workspace 8; }
    alt+ctrl+9 { move-column-to-workspace 9; }
    alt+m { maximize-window-to-edges; }
    Alt+Ctrl+F { expand-column-to-available-width; }
    Alt+Minus { set-column-width "-10%"; }
    Alt+Equal { set-column-width "+10%"; }
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }
    Super+Shift+1 { spawn "~/.config/niri/focus-by-order.py" "1"; }
    Super+Shift+2 { spawn "~/.config/niri/focus-by-order.py" "2"; }
    Super+Shift+3 { spawn "~/.config/niri/focus-by-order.py" "3"; }
    Super+Shift+4 { spawn "~/.config/niri/focus-by-order.py" "4"; }
    Super+Shift+5 { spawn "~/.config/niri/focus-by-order.py" "5"; }
    Super+Shift+6 { spawn "~/.config/niri/focus-by-order.py" "6"; }
    Super+Shift+7 { spawn "~/.config/niri/focus-by-order.py" "7"; }
    Super+Shift+8 { spawn "~/.config/niri/focus-by-order.py" "8"; }
    Super+Shift+9 { spawn "~/.config/niri/focus-by-order.py" "9"; }
}

include "noctalia.kdl"
