layout {

    focus-ring {
        active-color   "#f2d5cf"
        inactive-color "#303446"
        urgent-color   "#e78284"
    }

    border {
        active-color   "#f2d5cf"
        inactive-color "#303446"
        urgent-color   "#e78284"
    }

    shadow {
        color "#23263470"
    }

    tab-indicator {
        active-color   "#f2d5cf"
        inactive-color "#de4e31"
        urgent-color   "#e78284"
    }

    insert-hint {
        color "#f2d5cf80"
    }
}

recent-windows {
    highlight {
        active-color "#f2d5cf"
        urgent-color "#e78284"
    }
}
