layout {

    focus-ring {
        active-color   "#ca9ee6"
        inactive-color "#303446"
        urgent-color   "#e78284"
    }

    border {
        active-color   "#ca9ee6"
        inactive-color "#303446"
        urgent-color   "#e78284"
    }

    shadow {
        color "#23263470"
    }

    tab-indicator {
        active-color   "#ca9ee6"
        inactive-color "#7a1bb6"
        urgent-color   "#e78284"
    }

    insert-hint {
        color "#ca9ee680"
    }
}

recent-windows {
    highlight {
        active-color "#ca9ee6"
        urgent-color "#e78284"
    }
}
